.cartItem{
  display: flex;
  align-items: center;
  &__img{
    width: 100px;
    height: auto;
    border-radius: 8px;
  }
  &__title{
    font-size: 24px;
    font-weight: bold;
    margin: 0 20px;
  }
  &__price{
    font-size: 18px;
    font-weight: bold;
  }
}